#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

body{
  background-image: url('img/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.portadaPokemon{
  width: 70vw;
  position: absolute;
  left: 20%;
  top: 36%;
}

.react{
  width: 5vw;
  position: absolute;
  left: 47%;
  top: 18%;
}

.pokeapi{
  width: 15vw;
  position: absolute;
  left: 50%;
  top: 12%;
  transform: rotate(10deg);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

